/* Navbar */
.navbar {
    width: 100%;
    height: 65px;
    box-shadow: var(--shadow-xs);
    z-index: 1000;
    position: sticky;
    top: 0;
    background: var(--bg-primary);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    max-width: 1700px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: relative;
}

.nav-logo {
    color: var(--blue);
}

.nav-logo img {
    margin-top: 4px;
    height: 46px;
    width: auto;
}

.nav-links {
    display: flex;
    gap: 0;
    height: 100%;
}

.nav-links a {
    text-decoration: none;
    color: var(--gray);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 25px;
    position: relative;
    transition: all 0.2s ease;
}

.nav-links a:hover {
    color: var(--gray);
    background-color: rgba(37, 28, 91, 0.05);
}

.nav-links a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, var(--purple), var(--cyan));
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-links a.active::after {
    opacity: 1;
}

.nav-links a.active {
    background-color: rgba(37, 28, 91, 0.05);
}

/* Responsive */
@media (max-width: 768px) {
    .nav-container {
        padding: 0 2rem;
    }

    .nav-links {
        display: none;
    }
}